.slide.shout.intro h2 {
    font-size: 90px;
}
.slide.shout.intro h2 small {
    font-size: 0.8em;
}
.slide.shout h2 small {
    font-size: 0.6em;
}

small.qps { color: #333; float: right; font-size: .7em; }
